USE [master]
GO
/****** Object:  Database [Aeroflot]    Script Date: 21.04.2022 21:53:25 ******/
CREATE DATABASE [Aeroflot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Aeroflot', FILENAME = N'W:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Aeroflot.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Aeroflot_log', FILENAME = N'W:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Aeroflot_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Aeroflot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Aeroflot]
GO
/****** Object:  Table [dbo].[Autorization]    Script Date: 21.04.2022 21:53:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autorization](
	[ID] [int] NOT NULL,
	[SecondName] [nvarchar](30) NULL,
	[FirstName] [nvarchar](30) NULL,
	[Login] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[Access] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Autorization] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Races]    Script Date: 21.04.2022 21:53:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Races](
	[RaceID] [int] NOT NULL,
	[ArrivePlace] [nvarchar](50) NOT NULL,
	[DepartureTime] [time](7) NOT NULL,
	[ArriveTime] [time](7) NOT NULL,
	[FreePlaceCount] [int] NOT NULL,
	[AirplaneKind] [nvarchar](50) NOT NULL,
	[AirplaneCapacity] [int] NOT NULL,
 CONSTRAINT [PK_Races] PRIMARY KEY CLUSTERED 
(
	[RaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Autorization] ([ID], [SecondName], [FirstName], [Login], [Password], [Access], [Email]) VALUES (1, N'Лопаткин', N'Сергей', N'Hapro', N'1234', N'Администратор', N'haprobishop@yandex.ru')
INSERT [dbo].[Autorization] ([ID], [SecondName], [FirstName], [Login], [Password], [Access], [Email]) VALUES (2, NULL, NULL, N'User', N'0000', N'Пользователь', NULL)
GO
INSERT [dbo].[Races] ([RaceID], [ArrivePlace], [DepartureTime], [ArriveTime], [FreePlaceCount], [AirplaneKind], [AirplaneCapacity]) VALUES (1, N'Москва', CAST(N'12:00:00' AS Time), CAST(N'20:00:00' AS Time), 4, N'Региональные', 75)
INSERT [dbo].[Races] ([RaceID], [ArrivePlace], [DepartureTime], [ArriveTime], [FreePlaceCount], [AirplaneKind], [AirplaneCapacity]) VALUES (2, N'Москва', CAST(N'10:00:00' AS Time), CAST(N'18:00:00' AS Time), 1, N'Региональные', 60)
INSERT [dbo].[Races] ([RaceID], [ArrivePlace], [DepartureTime], [ArriveTime], [FreePlaceCount], [AirplaneKind], [AirplaneCapacity]) VALUES (3, N'Лондон', CAST(N'10:00:00' AS Time), CAST(N'22:00:00' AS Time), 12, N'Широкофюзеляжный ', 400)
GO
USE [master]
GO
